@font-face
  font-style: normal
  font-family: "-apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

/* ibm-plex-sans-regular - latin */
@font-face
  font-display: swap; 
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/ibmplex/ibm-plex-sans-v19-latin-regular.eot'); 
  src: url('../lib/ibmplex/ibm-plex-sans-v19-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../lib/ibmplex/ibm-plex-sans-v19-latin-regular.woff2') format('woff2'), 
       url('../lib/ibmplex/ibm-plex-sans-v19-latin-regular.woff') format('woff'), 
       url('../lib/ibmplex/ibm-plex-sans-v19-latin-regular.ttf') format('truetype'), 
       url('../lib/ibmplex/ibm-plex-sans-v19-latin-regular.svg#IBMPlexSans') format('svg'); 

/* ibm-plex-sans-italic - latin */
@font-face
  font-display: swap; 
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../lib/ibmplex/ibm-plex-sans-v19-latin-italic.eot'); 
  src: url('../lib/ibmplex/ibm-plex-sans-v19-latin-italic.eot?#iefix') format('embedded-opentype'), 
       url('../lib/ibmplex/ibm-plex-sans-v19-latin-italic.woff2') format('woff2'), 
       url('../lib/ibmplex/ibm-plex-sans-v19-latin-italic.woff') format('woff'), 
       url('../lib/ibmplex/ibm-plex-sans-v19-latin-italic.ttf') format('truetype'), 
       url('../lib/ibmplex/ibm-plex-sans-v19-latin-italic.svg#IBMPlexSans') format('svg'); 

/* ibm-plex-mono-regular - latin */
@font-face 
  font-display: swap; 
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/ibmplex/ibm-plex-mono-v19-latin-regular.eot'); 
  src: url('../lib/ibmplex/ibm-plex-mono-v19-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../lib/ibmplex/ibm-plex-mono-v19-latin-regular.woff2') format('woff2'), 
       url('../lib/ibmplex/ibm-plex-mono-v19-latin-regular.woff') format('woff'), 
       url('../lib/ibmplex/ibm-plex-mono-v19-latin-regular.ttf') format('truetype'), 
       url('../lib/ibmplex/ibm-plex-mono-v19-latin-regular.svg#IBMPlexMono') format('svg'); 

