@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/Fira_Sans/FiraSans-Bold.ttf") format("woff2");
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/Fira_Sans/FiraSans-Regular.ttf") format("woff2");
  font-style: normal;
  font-display: swap;
}
