// dark
$background-color-dark: #002b36;
$text-color-dark:  #839496;
$base01: #586e75;
$base02: #073642;
$base00: #657b83;

// light
$background-color-light: #fdf6e3;
$text-color-light: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;


$green: #859900;
$cyan: #2aa198;
$blue: #268bd2;
$violet: #6c71c4;
$magenta: #d33682;
$red: #dc322f;
$orange: #cb4b16;
$yellow: #b58900;
